

/*parent*/
.logo{
    width:200px;
    border-left:100px;
}

.bordureSearch {
    width:400px;
    border-radius:10px;
}
.recherche{
    height: 50px;
    width: 240px;
    font-size: 19px;
    color:black;
    font-weight: bold;

}
.iconSize{
    height: 50px;
    width: 50px;
}
/*parent*/


/*enfant1*/
/*enfant1*/


/*enfant2*/
/*enfant2*/


/*enfant3*/
.cannebiere{
    border
}
/*enfant3*/


/*enfant4*/
/*enfant4*/


